.header,
.hero,
.footer {
  background-color: #1F2937;
}

.header,
.footer,
.cta {
  padding: 15px 20%;
}

body {
  min-height: 1vh;
  min-width: 1vw;
  display: flex;
  flex-direction: column;
  flex-shrink: none;
  font-family: roboto;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}


.header {
  display: flex;
  justify-content: space-between;
  color: #F9FAF8;
}

h3 {
  margin: 0;
  font-size: 24px;
  flex-shrink: 0;
}

.links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
  font-size: 18px;
}

.links li {
  font-size: 18px;
  color: #E5E7EB;
  font-weight: 100;
}


.hero {
  padding: 100px 20%;
  display: flex;
  color: #E5E7EB;
  font-size: 18px;
  justify-content: space-between;
  gap: 50px;
}

.hero-content {
  width: 600px;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  margin: 0;
}

.hero-content p {
  margin: 10px 0;
}

.hero-button {
  background: #3882F6;
  border: none;
  border-radius: 7px;
  padding: 10px 30px;
  color: #E5E7EB;
  font-size: 16px;
  font-weight: bold;
}

.image-placeholder {
  background: rgb(109 116 125);
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6% 23%;
}

h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: 1F2937;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  border: 3px solid #3882F6;
  border-radius: 20px;
}

.card-text {
  text-align: center;
  color: rgb(109 116 125);
}

.testimonial {
  padding: 6% 25%;
  background-color: #E5E7EB;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.testimonial blockquote {
  padding: 0;
  margin: 0;
}

.testimonial blockquote footer {
  font-weight: bold;
  text-align: end;
}

.cta {
  margin: 4% 20%;
  padding: 2% 5%;
  background-color: #3882F6;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta p {
  margin: 0;
}

.cta-content {
  font-size: 18px;
  color: #E5E7EB;
}

h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #F9FAF8
}

.cta-button {
  padding: 3px 20px;
  background-color: #3882F6;
  border: 1px solid #E5E7EB;
  font-size: 18px;
  color: #E5E7EB;
  border-radius: 6px;
}